<!DOCTYPE html>
<!--
Base html template used within all other templates
-->
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap.css" />

  <title>NanoDegree Blog</title>
</head>

<body>
  <div class="container">
    <header class="row">
      <div class="col-xs-12">
        <a href="/blog" class="main-title">
          NanoDegree Blog
        </a>
        <div class="login-area">
          {% if user %}
            {{user.name}} (<a class="login-link" href="/logout">logout</a>)
          {% else %}
            <a class="login-link" href="/login">login</a>
            |
            <a class="login-link" href="/signup">signup</a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% if user.name %}
          <a href="/blog/newpost">Create New Post</a>
          {% endif %}
        </div>
      </div>
      <br>
    </header>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>
</body>

</html>
